.camgirl {
    margin-top: 10%;
    margin-left: 20%;
}

.vide2 {
    margin-top: 10px;
}



.DRTT {
    margin-top: -64%;
    margin-left: 57%;
}

.DRT {
    margin-top: 0;
    margin-left: -2%;
}

#ip {
    color: red;
    margin-top: 7.5%;
    margin-left: 71.8%;
    animation: ip-blink 2s linear infinite;
}

@keyframes ip-blink { 
    50% {
        opacity: 0;
    }
}


.PC {
    margin-top: -32%;
    margin-left: 49%;
    
}

